#why article {
  padding: 2rem;
}

#welcome {
  text-align: center;
  padding: 3rem 1rem;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flex-container article {
  width: 28%;
}




